---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import { slugify } from '../../utils/slugify';
const posts = await getCollection('news');

export async function getStaticPaths() {
  const newsEntries = await getCollection('news');

  return newsEntries.flatMap((entry) => {
    const { tags } = entry.data;
    return tags.map((tag) => ({
      params: { tag: slugify(tag) },
      props: { entry, tags, originalTag: tag },
    }));
  });
}

const { entry, originalTag } = Astro.props;
const { tag } = entry.data.tags;

const postsWithTag = posts.filter((post) => post.data.tags.includes(originalTag));

console.log(originalTag);
---

<Layout title={`${originalTag} - Digipom`}>
  Posts with tag <b>{originalTag}</b>: <br><br>
  {postsWithTag.map((post) => (
    <a href={`/news/${post.slug}`}>{post.data.title}</a>
    <p>{post.data.publishedDate}</p>
    <p>{post.data.description}</p>
    <br>
  ))}
</Layout>