---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import { slugify } from '../../utils/slugify';
import '../../styles/digipom.css';
import { format } from 'date-fns';

const posts = await getCollection('news');

export async function getStaticPaths() {
  const newsEntries = await getCollection('news');

  return newsEntries.flatMap((entry) => {
    const { tags } = entry.data;
    return tags.map((tag) => ({
      params: { tag: slugify(tag) },
      props: { entry, tags, originalTag: tag },
    }));
  });
}

const { entry, originalTag } = Astro.props;
const { tag } = entry.data.tags;

const postsWithTag = posts.filter((post) => post.data.tags.includes(originalTag));

---

<Layout title={`${originalTag} - Digipom`}>
  <section class="px-4 py-3 lg:px-0 mb-8 md:text-twentytwo lg:max-w-[1110px] lg:mx-auto">
    <div class="mb-10 font-extrabold text-thirtyfour text-dpdarkblue tracking-tight">
      {originalTag}</div>
      {
        postsWithTag.map((post) => (
          <div class="flex items-center mb-10">
            <a href={`/blog/${post.slug}`} class="w-[180px]">
              {
                post.data.image ? (
                  // post has an image
                  <img class="w-[180px] h-[120px] object-scale-down" src={post.data.image} />
                ) : (
                  // placeholder image if not found in post
                  <img class="w-[180px] h-[120px] object-scale-down" src="/images/Thumbnail_255x143.png" />
                )
              }
            </a>
            <div class="w-full pl-4">
              <a href={`/blog/${post.slug}`}><div class="leading-none">{post.data.title}</div></a>
              <div class="text-dpdarkblue text-base text-opacity-60 mb-2">{format(new Date(post.data.publishedDate), 'MMMM d, yyyy')}</div>
              <div class="text-dpdarkblue text-base text-opacity-60 line-clamp-2">{post.data.description}</div>
            </div>
        </div>
      ))
    }
  </section>
</Layout>