---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
const newsPosts = await getCollection("news");
import '../../styles/digipom.css';

export async function getStaticPaths() {
    const newsEntries = await getCollection('news');
    return newsEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();
const { data } = entry;

---

<Layout title="News - Digipom">
	<section class="px-4 py-3 lg:px-0 mb-14 lg:max-w-[1110px] lg:mx-auto md:flex md:items-center md:justify-start">
		<div class="w-full md:w-[730px] float-right">
            <h2 class="mb-8 font-bold text-forty md:text-5xl tracking-tight leading-normal my-4">{data.title}</h2>
            <div class="mb-8">{data.publishedDate}</div>
            <div class="mb-8"><Content /></div>
            <img src={data.image} class="mb-8" />
            <div class="mb-6">Tags: <a class="text-dpgreen" href="/">{data.tags}</a></div>
            <div class="flex items-center gap-2 mb-12 md:mb-0">Share: <a href="/"><img src="/images/Rss.png" /></a> <a href="/"><img src="/images/Twitter.png" /></a></div>
		</div>
	</section>

    <section class="px-4 py-3 lg:px-0 mb-8 md:text-twentytwo lg:max-w-[1110px] lg:mx-auto">
		<div class="mb-6 md:mb-10 font-extrabold text-thirtyfour text-dpdarkblue tracking-tight">Latest articles</div>
		<div class="md:flex md:justify-between">
			<!-- Show latest 4 posts -->
			{
				newsPosts.sort((a, b) => new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf()).slice(0,4).map((post) => (
						<div class="md:max-w-[240px] grid grid-flow-row auto-rows-max content-between mb-10">
							<a href="/" class="font-bold text-twentytwo text-dpdarkblue mb-1">
								{post.data.title}
							</a>
							<p class="text-dpdarkblue text-base text-opacity-60 mb-1 line-clamp-3">
								{post.data.description}
							</p>
							<a href={`/news/${post.slug}`} class="transition flex items-center justify-center gap-3 border-2 border-dpgreen rounded hover:bg-dpgreen w-40 py-4 font-semibold text-sm text-dpgreen hover:text-white mb-4">
								Read more
								<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 13.7552L7 7.75525L1 1.75525" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</a>
						</div>					
					))
			}
			
			<!-- END Looped news items -->
		</div>
	</section>
</Layout>